<!DOCTYPE html>
<html>
{% include "header.html" %}

<body>
    <form class="row" action="{{url_for('simulate')}}" method="POST">
        <div class="col-md-8 mb-3 mx-auto">
            <div class="my-3">
                <h3 class="form-text">Select Scenario:</h3>
                <div class="form-check">
                    <div class="row">
                        <div class="col-6">
                            <input type="radio" class="form-check-input" id="random-scenario" value="1" name="scenario"
                                onclick="hideCustomScenario()" checked>
                            <label for="random-scenario" class="form-check-label">Random Scenario</label>
                        </div>
                    </div>
                    <div>
                        <div class="ps-3 random-scenario-seed" style="display: none">
                            <label for="random-seed"> Input random seed for random scenario:</label>
                            <input type="number" class="form-control" id="random-seed" name="random-seed">
                        </div>
                    </div>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="custom-scenario-chkbox" name="scenario" value="2"
                        onclick="hideCustomScenario()">
                    <label for="custom-scenario-chkbox" class="form-check-label">Custom Scenario</label>
                    <div class="form-row custom-scenario-detail">
                        <div class="col-md-4 ">
                            <label for="breakfast-time" class="col-form-label">Breakfast Time (hr)</label>
                            <input type="text" class="form-control" id="breakfast-time" name="breakfast-time">
                        </div>
                        <div class="col-md-4">
                            <label for="breakfast-size" class="col-form-label">Breakfast Size (g)</label>
                            <input type="text" class="form-control" id="breakfast-size" name="breakfast-size">
                        </div>
                        <div class="col-md-4">
                            <label for="lunch-time" class="col-form-label">Lunch Time (hr)</label>
                            <input type="text" class="form-control" id="lunch-time" name="lunch-time">
                        </div>
                        <div class="col-md-4">
                            <label for="lunch-size" class="col-form-label">Lunch Size (g)</label>
                            <input type="text" class="form-control" id="lunch-size" name="lunch-size">
                        </div>
                        <div class="col-md-4">
                            <label for="dinner-time" class="col-form-label">Dinner Time (hr)</label>
                            <input type="text" class="form-control" id="dinner-time" name="dinner-time">
                        </div>
                        <div class="col-md-4">
                            <label for="dinner-size" class="col-form-label">Dinner Size (g)</label>
                            <input type="text" class="form-control" id="dinner-size" name="dinner-size">
                        </div>
                        <div class="col-md-4">
                            <label for="snack-time" class="col-form-label">Snack Time (hr)</label>
                            <input type="text" class="form-control" id="snack-time" name="snack-time">
                        </div>
                        <div class="col-md-4">
                            <label for="snack-size" class="col-form-label">Snack Size (g)</label>
                            <input type="text" class="form-control" id="snack-size" name="snack-size">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="{{ url_for('static', filename='js/simulate_form.js') }}"></script>

</body>
{% include "footer.html" %}

</html>